html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-text-primary {
    color: #673ab7 // TODO: obtain from Material theme
}

.mat-text-accent {
    color: #f44336 // TODO: obtain from Material theme
}

.mat-text-warn {
    color: #f44336 // TODO: obtain from Material theme
}
